.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 black;
}


.card-container, .selectedItems {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}


.item-info {
  text-align: center;
  border-style: solid;
  padding: 20px;
}

.selectedItems {
  background-color: #09d3ac;
}

#navvy {
 align-content: center;
 width: 100%;
}

#nav-bar-title {
  color: blue;
  font-weight: bold;
  font-size: 40px;
}


.mr-auto {
  font-size: 20px;
}

