.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
  float: left;
  width: 23%;
  padding: 5px;
  margin: 10px;
  height: 19rem;
  background-color: white;
}

.card:hover {
  box-shadow: 0 8px 16px 0 black;
}

.shoes-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
  float: left;
  width: 15.7%;
  padding: 5px;
  margin: 6px;
  height: 18rem;
  background-color: white;
}



.home-sub-title{
text-align: center;
font-weight: bold;
font-size: 40px;
}

.card-shop {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
  float: left;
  width: 47%;
  padding: 5px;
  margin: 7px;
  margin-right: 1%;
  margin-left: 1%;
  height: 17rem;
  background-color: white;
  padding-top: 2%;
}

.card-profile{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
  float: left;
  width: 23%;
  padding: 5px;
  margin: 10px;
  height: 19rem;
  background-color: white;
}

.navbar {
  height: 90px;
  margin: -8px;
}

.vsc-initialized {
  background-color:#e6faff;

}

.columnshome{
  float: left;
  width: 25%;
  padding: 10px;
  height: 300px;
}

#background-nav {
  background-image: url(https://images.unsplash.com/photo-1499346030926-9a72daac6c63?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
background-repeat: no-repeat;
background-size: cover;
}



#title-itemslist {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: blue;
}

.search-box {
  text-align: center;
  width: 100%;
}

#recommended-itemslist {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}




.card-container, .selectedItems {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}




.selectedItems {
  background-color: #09d3ac;
}

#navvy {
 align-content: center;
 width: 100%;
}

#nav-bar-title {
  color: blue;
  font-weight: bold;
  font-size: 40px;
  padding-left: 25px;
  padding-top: 10px;
}

.home-title {
  color: blue;
  font-weight: bold;
  font-size: 100px;
  text-align: center;
}

.iphonecase {
  float: left;
  width: 50%;
  border-style: double;
border-color: lightgrey;
}

.clothes {
  float: right;
  width: 50%;
  border-style: double;
border-color: lightgrey;
}

.shoes {
  float: right;
  width: 100%;
  border-style: double;
border-color: lightgrey;
}


.font-home {
  font-size: large;
}


#home-title {
  margin-left: 20px;
  font-weight: bold;
  font-size: 40px;
  color: darkblue;
}


.mr-auto {
  font-size: x-large;
  font-weight: 600;
  padding-top: 10px;
}

.nav-link {
  margin-left: 19px;
}



#img-cards {
  height: 40%;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}


#login-button {
  margin-left: 44%;
  margin-right: 44%;
}


.login-title {
  color: blue;
  font-weight: bold;
  font-size: 200px;
  text-align: center;
  margin-top: 15%;
}

.shopping-cart {
  text-align: center;
}

.shopping-div {
  border-style: double;
  border-color: lightgrey;
  margin-top: 30px;
  height: 300px;
}

#itemnameshop{
  font-size: 25px;
}

.profile {
  margin-top: 40px;
  text-align: center;
}


#profile-name {
  font-size: 50px;
  font-weight: 600;
}

#name-nabar {
  margin-right: 40px;
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: x-large;
  font-style: oblique;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-style: solid;
}

#item-card-div {
  float:left;
  width:34%; 
  height:200px;
  padding-top: 20px;
}

#img-card-shopping {
  height: 60%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#button-div{ 
  float:right;
  width:20%; 
  height:200px;
  padding-top: 70px;
}

#price {
  float:left;
  width:20%; 
  height:200px;
  padding-top: 10px;
}

#quantity{
  float: left;
  padding-top: 70px;
  width: 20%;
  height:200px;
}

#item-info-div{
  border-style: solid;
}

#item-information {
float: right;
margin-right: 9%;
}

#image-info {
  float: left;
  height: 400px;
  width: auto;
  margin-left: 25%;
}

.item-info {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 50px;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-style: solid;
}


.edit-address {
  margin-left: 46.5%;
  margin-right: 42%;
}

#edit-address-edit {
  margin-left: 47%;
  margin-right: 42%;
}
#edit-address-save {
  margin-left: 47%;
  margin-right: 42%;
}

#edit-address-input {
  margin-left: 45.5%;
  margin-right: 42%;
  margin-bottom: 5px;
}

#checkout-title {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

#spin{
  margin-left: 48%;
  margin-right: 40%;
}

#spinner{
  text-align: center;
  margin-top: 150px;
}